
.hero__container{
  padding-top: 100px;
  align-items: center;
  position: relative;
  margin-top: 100px;
}
.hero__title{

  width: 394px;
  height: 128px;
  font-family: "Public Sans" , sans-serif;
  font-size: 56px;
  font-weight: 100;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2D314D;
  transform: scale(0.8);
}
.hero__list{
  padding-left: 90px;
  padding-top: 80px;
}
.hero__text{
  width: 447px;
  height: 84px;
  color: #9597A5;
  font-family: "PublicSans" , sans-serif;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  transform: scale(0.8);
  
}.hero__btn {
  width: 163px;
  height: 44px;
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  border: none;
  border-radius: 20px;
  font-family: "Public Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  transform: scale(0.8);
  margin-left: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  cursor: pointer; 
}

.hero__btn:hover {
  transform: scale(0.85); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  background-color: #1f98db; 
}



.hero__img{
  position: absolute;
  z-index: 1;
  transform: scale(0.8);
  top:-70px;
  right: -43.705px;
  

}
.hero__bg{
  position: absolute;
  transform: scale(0.8);
  top:-80px;
  z-index: 0;
  right: -60px;
}
















@media(max-width:1200px){
  .container{
      width: 1100px;
  }

}
@media(max-width:1120px){
.container{
    width: 1000px;
}

}
@media(max-width:1020px){
.container{
    width: 900px;
}



}
@media(max-width:920px){
.container{
    width: 800px;
}

}
@media(max-width:820px){
.container{
    width: 700px;
}



}
@media(max-width:720px){
.container{
    width: 600px;
}



}

@media(max-width:620px){
.container{
    width: 500px;
}




}
@media(max-width:520px){
.container{
    width: 400px;
}


}
@media(max-width:420px){
.container{
    width: 300px;
}




}

@media(max-width:320px){

}