
.title-span{
  color: rgba(239, 124, 0, 1);
}
.hero__title{
  font-family: Montserrat , sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  margin: 20px auto;
}
.hero__content{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.hero__list{
  list-style: none;

}
.hero__frist-text{
  margin: 20px auto;
   
  font-family: Montserrat , sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: rgba(44, 45, 46, 1);
}
.hero__next-text{

  font-family: Montserrat , sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: rgba(44, 45, 46, 1);
}
.hero__text{
  font-family: Montserrat , sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: rgba(44, 45, 46, 1);
}















@media(max-width:1200px){
  .container{
      width: 1100px;
  }

}
@media(max-width:1120px){
.container{
    width: 1000px;
}

}
@media(max-width:1020px){
.container{
    width: 900px;
}
.hero__content{
display: block;
text-align: center;
}
.hero-pic{
  width: 100%;
}
.hero__list{
  width: 100%;
}


}
@media(max-width:920px){
.container{
    width: 800px;
}

}
@media(max-width:820px){
.container{
    width: 700px;
}



}
@media(max-width:720px){
.container{
    width: 600px;
}



}

@media(max-width:620px){
.container{
    width: 500px;
}




}
@media(max-width:520px){
.container{
    width: 400px;
}


}
@media(max-width:420px){
.container{
    width: 300px;
}




}

@media(max-width:320px){

}