*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
    margin: 0 auto;
    padding: 5px;
    max-width: 1140px;
    border: 1px solid red
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  